@import 'tailwindcss';

@theme {
  --font-family-primary:
    CircularStd, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-secondary:
    ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

  --color-primary: #ff5c24;
  --color-secondary: #1f35a5;
  --color-tertiary: #8b9094;
  --color-text: #000000;
  --color-grid: #f2f2f2;
}

:root {
  --max-width: 975px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-family-primary);
  color: var(--color-text);
}
