@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 975px;
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-tertiary: #8b9094;
  --color-grid: #f2f2f2;
}

.dark {
  --color-bg: #0a0a0a;
  --color-text: #f5f5f5;
  --color-tertiary: #9ca3af;
  --color-grid: #222222;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  @apply font-primary text-text;
}

html {
  background-color: var(--color-bg);
}
